---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Who I am and what I do"
	pubDate={new Date('September 20 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Having studied Cyber Security and Networks at Glasgow Caledonian University, I have a strong
		foundation in IT and a passion for technology. I completed my degree in 2023 and had the oportunity
		to complete many interesting modules such as Ethical Hacking, Network Security and Digital Forensics.
		I was fortunate enough to gain experience with the entire Kali Linux suite of tools in a safe and
		legal environment, which helped me understand the importance of cybersecurity in today's digital age.
		I was also able to gain practical experience through labs and projects, which helped me develop my
		skills in areas such as penetration testing, vulnerability assessment, and network design. Alongside
		these advanced modules I was able to further my knowledge in programming via Java, SQL, Python and JavaScript
		while experiencing linux administration through RedHat and CentOS.
	</p>

	<p>
		Building on my technical skills, I have a keen interest in server administration and have been honing my skills
		in this area. I decided to build a homelab to experiment with different technologies and gain hands-on experience.
		My homelab includes a variety of servers and services, including a web server, file server, and media server.
		I have been using this setup to learn about web development, server administration, and networking using tools such as
		Nginx, Docker, Portainer and technologies such as Proxy, DNS, DHCP and VPN. I have also been exploring
		different development frameworks and tools during this time, taking a partcular interest in Python. I undertook some
		independent learning via online courses and tutorials to further my knowledge in this area.
	</p>

	<p>
		During my time at university I was working as a sales advisor at Currys PC World, where I developed strong
		communication and customer service skills. I was able to apply my technical knowledge to help customers
		find the right products for their needs. I thrived in this role due to my passion for technology and my
		ability to explain complex technical concepts in a simple and easy-to-understand way. I also developed
		my sales skills, learning how to identify customer needs and recommend products that would meet those needs.
		Due to my hard work and dedication, I was awarded 'Colleague of the Year' despite being one of the youngest 
		members of staff and only being with the company for six months at the time. I continued to excell in my role, 
		which resulted in me being one of the top salesman in the company for the duration of my time there. I was 
		tasked with many team lead responsibilities, such as training new staff members and leading by example on the sales floor. 
		I left this role to pursue a career in IT, taking with me my customer first approach.
	</p>

	<p>
		Starting at Sword Ping Network Solutions as a NOC Network Analyst was a fantastic opportunity for me to kickstart my career in IT. 
		I hit the ground running, quickly adapting to the fast-paced environment and learning new skills on the job. I was 
		able to apply my technical knowledge and problem-solving skills to help resolve network issues and ensure the smooth operation of our clients' systems. 
		I also had the chance to work with a talented team of professionals, who provided me with guidance and support as I navigated my new role.
		I quickly became a valuable member of the team, taking on new responsibilities and contributing to the success of our projects, 
		resulting in me being within the top 3 analysts for the company in terms of tickets closed within my first year.
		I developed automation tools and workflows in Python to help streamline our processes and improve efficiency, 
		which was well received by my colleagues and management as it saved hours per task. Due to my technical experties, 
		I authored and published a knowledge base for the team to help with common issues and procedures, which was also well received.
		I was able to gain experience with a variety of technologies and tools, including SolarWinds, Cisco, Juniper, Fortinet, Meraki and Palo Alto.
		Due to my customer first approach I was often tasked with major incident management, where I was able to communicate effectively with clients and ensure that their needs were met.
	</p>

	<p>
		Working as a Syetems Analyst at the Unuversity of Glasgow has been an incredible experience that has allowed me to grow both personally and professionally.
		I have had the opportunity to work on a variety of projects, from small-scale initiatives to large, complex systems, which has helped me develop a diverse skill set.
		Working directly with end users has been particularly rewarding, as I have been able to see the impact of my work firsthand and make a real difference in the establishment.
		I used my drive and experience to implement standard operating procedures for the team, which has helped to improve efficiency and ensure consistency in our work.
		Learning from my previous roles, I was also able to implement a knowledge base for the team to help with common issues and procedures, which has been well received.
		Within my first few weeks I was the top ticket closer in the team, which was a great achievement and helped me to build confidence in my abilities.
		I used my free time to assist in many projects outside of my remit, such as the migration of the entire university to Windows 11, which was a huge undertaking.
		I had the opportunity to work with a variety of technologies and tools, including Intune, Active Directory, SCCM, JAMF and Defender while working with Windows, Linux and MacOS.
	</p>
</Layout>
