---
import Layout from '../layouts/PortfolioPost.astro';
---

<Layout
	title="About Me"
	description="Who I am and what I do"
	pubDate={new Date('September 20 2025')}
	heroImage="/AboutMe.jpg"
>
	<p>
		I hold a BSc in Cyber Security and Networks from Glasgow Caledonian University (2023), where I gained hands-on experience in 
		ethical hacking, network security, digital forensics, penetration testing, vulnerability assessment, and programming 
		(Java, SQL, Python, JavaScript). I also developed skills in Linux administration (RedHat, CentOS) and built a homelab to 
		experiment with server administration, networking, Docker, Nginx, and Python development.
	</p>

	<p>
		Building on my academic training, I've used my homelab to gain extensive hands-on experience with server administration, networking, 
		and Python development. Through this setup, I have configured web, file, and media servers, and explored technologies such as Docker, 
		Nginx, Portainer, DNS, DHCP, and VPN. This independent work has deepened my practical skills and my passion for system administration.
	</p>

	<p>
		Alongside my studies, I worked at Currys PC World, where I earned Colleague of the Year within my first six months and became one of the top 
		salespeople nationwide. I developed strong communication skills, trained new staff, and built a reputation for translating 
		complex technical concepts into simple, customer-focused solutions. Due to my performance I took on team lead responsibilities, 
		including supervising my colleagues and managing the store in the absence of senior staff.
	</p>

	<p>
		My IT career began as a NOC Network Analyst at Sword Ping Network Solutions, where I ranked among the top three 
		analysts in ticket closures within my first year. I created automation tools in Python, authored the team's knowledge base, 
		and worked with technologies including SolarWinds, Cisco, Juniper, Fortinet, Meraki, and Palo Alto. I was also trusted 
		with major incident management due to my client-focused approach and calmness under pressure.
	</p>

	<p>
		Currently, I'm a Systems Analyst at the University of Glasgow. I lead on process improvement, authored the team knowledge base, 
		and became the top ticket closer within weeks of joining. I've supported large projects such as the university-wide 
		migration to Windows 11, while working with Intune, Active Directory, SCCM, JAMF, Defender, and mixed OS environments (Windows, Linux, MacOS).
		I am proud to have been recognised in numerous research papers for my contributions in IT.
	</p>
</Layout>
