---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Who I am and what I do"
	pubDate={new Date('September 20 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I hold a BSc in Cyber Security and Networks from Glasgow Caledonian University (2023), where I gained hands-on experience in 
		ethical hacking, network security, digital forensics, penetration testing, vulnerability assessment, and programming 
		(Java, SQL, Python, JavaScript). I also developed skills in Linux administration (RedHat, CentOS) and built a homelab to 
		experiment with server administration, networking, Docker, Nginx, and Python development.
	</p>

	<p>
		I have a strong interest in server administration and built a homelab to gain hands-on experience with web, file, and media servers. 
		Through this setup, I've explored web development, networking, and administration using Nginx, Docker, Portainer, and technologies like Proxy, 
		DNS, DHCP, and VPN. I've also developed a particular interest in Python, expanding my skills through independent learning and online courses.
	</p>

	<p>
		Alongside my studies, I worked at Currys PC World, where I earned Colleague of the Year and became one of the top 
		salespeople nationwide. I developed strong communication skills, trained new staff, and built a reputation for translating 
		complex technical concepts into simple, customer-focused solutions.
	</p>

	<p>
		My IT career began as a NOC Network Analyst at Sword Ping Network Solutions, where I ranked among the top three 
		analysts in ticket closures within my first year. I created automation tools in Python, authored the team's knowledge base, 
		and worked with technologies including SolarWinds, Cisco, Juniper, Fortinet, Meraki, and Palo Alto. I was also trusted 
		with major incident management due to my client-focused approach.
	</p>

	<p>
		Currently, I’m a Systems Analyst at the University of Glasgow. I lead on process improvement, authored the team knowledge base, 
		and became the top ticket closer within weeks of joining. I’ve supported large projects such as the university-wide 
		migration to Windows 11, while working with Intune, Active Directory, SCCM, JAMF, Defender, and mixed OS environments (Windows, Linux, MacOS).
	</p>
</Layout>
