---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello!</h1>
			<p style="text-align: center;">
				Welcome to my CV built with JavaScript, HTML, CSS and Astro. 
				This site is a simple and portfolio to showcase my skills and experience.
				I am a Threat and vulnerability Specialist at the University of Glasgow.
				Experience in Network Analysis, System Administration, IT Support, Cyber Security and Software Development.
				Holding ITIL4 foundation as of 2025 and keen to expand my knowledge.
			</p>
			<p style="text-align: center;">
				With expertise in Automation, Service Delivery, and large scale projects I assist orginisations
				in improving their IT infrastructure and security posture. 
				Consultancy servises are cost-effective with dynamic fees based on the project scope and requirements.
				I can be easily recahed via <a href="mailto:me@tommyl22.com"><code>me@tommyl22.com</code></a>.
				I am always open to discussing new opportunities and collaborations.
			</p>
			<p style="text-align: center;">
				Click below to download my CV in PDF format:
			</p>
			<div style="display: flex; justify-content: center; margin: 2em 0;">
				<a href="/Thomas Lind CV.pdf" download>
					<img src="/download.svg" alt="Download CV" width="96" height="96" style="display: block;" />
				</a>
			</div>
			<p style="text-align: center;">
				Feel free to follow me from the links in the header or footer.
				I can be found on LinkedIn and GitHub.
			</p>
		</main>
		<Footer />
	</body>
</html>
