---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello!</h1>
			<p>
				Welcome to my CV built with JavaScript, HTML, CSS and Astro. 
				This site is a simple and portfolio to showcase my skills and experience.
			</p>
			<p>
				I can be easily recahed via <a href="mailto:me@tommyl22.com"><code>me@tommyl22.com</code></a>.
			</p>
			<p>
				Click below to download my CV in PDF format:
				<a href="/Thomas_Lind_CV.pdf" download><code>Download CV (PDF)</code></a>
			</p>
			<p>
				Feel free to follow me below:
			</p>
			<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark" data-type="HORIZONTAL" data-vanity="thomaslind22" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://uk.linkedin.com/in/thomaslind22?trk=profile-badge">Thomas Lind</a></div>
		</main>
		<Footer />
	</body>
</html>
